In [1]:
import numpy as np
import pandas as pd

In [8]:
ser1 = pd.Series(['A','B','C'], index = [1,2,3])
ser2 = pd.Series(['A','B','C'], index = [4,5,6])

In [9]:
ser1

1    A
2    B
3    C
dtype: object

In [11]:
arr1 = [['A'],['B'],['C']]

     0    1
1    A  NaN
2    B  NaN
3    C  NaN
4  NaN    A
5  NaN    B
6  NaN    C

In [12]:
arr1 = [['A'],['B'],['C']]
arr2 = [['D'],['E'],['F']]

In [33]:
df1 = pd.DataFrame(arr1)

In [34]:
df1

   0
0  A
1  B
2  C

In [36]:
df3 = pd.concat([arr1, arr2])

TypeError: cannot concatenate object of type "<class 'list'>"; only pd.Series, pd.DataFrame, and pd.Panel (deprecated) objs are valid